<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Order Details</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/adminpanel/app.min.css" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <script src="/js/adminpanel/app.min.js" defer></script>
</head>

<body>

    <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div>


    <%- include("./navigation-bar.ejs") %>
        <div id="content" style="margin: 10px 10px;">

            <div class="col-xl-12">

                <div class="panel panel-inverse">

                    <div class="panel-heading">
                        <h4 class="panel-title">My Orders</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="result-list">
                            <% for (let order of orderDetails) { %>
                                <li style="padding: 10px;">
                                    <a href="#" class="result-image"
                                        style="background-image: url('<%= order.order_products[0].product.indexImage %>');"></a>
                                    <div class="result-info">
                                        <h4 class="title">
                                            <b>ORDER ID : </b> #<%= order.id %>
                                        </h4>
                                        <h4 class="title">
                                            <b>STATUS : </b>
                                            <%= order.status %>
                                        </h4>
                                        <p class="location">
                                            <b>ADDRESS : </b>
                                            <%= order.customer.address %>
                                                <%= order.customer.pincode %>
                                        </p>
                                    </div>
                                    <div class="result-price">
                                        &#8377; <%= order.totalPrice %>
                                            <a href="/customer/order-detail-page/<%= order.id %>"
                                                class="btn btn-yellow btn-block">View Details</a>
                                    </div>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>

</html>