<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title><%= product.name %></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <script src="/js/app.min.js" defer></script>

</head>

<body>

    <div id="page-container" class="fade">

        <%- include("./navigation-bar.ejs") %>

        <div id="product" class="section-container p-t-20">

            <div class="container">

                <div class="product">

                    <div class="product-detail">

                        <div class="product-image">

                            <div class="product-thumbnail">
                                <ul class="product-thumbnail-list">
                                    <% for (const image of images) { %>
                                    <li class="active"><a href="#" data-click="show-main-image"
                                            data-url="<%= image.extraImage %>"><img src="<%= image.extraImage %>"
                                                alt="" /></a>
                                    </li>
                                    <% } %>
                                    <li class="active"><a href="#" data-click="show-main-image"
                                            data-url="<%= product.indexImage %>"><img src="<%= product.indexImage %>"
                                                alt="" /></a>
                                    </li>
                                </ul>
                            </div>


                            <div class="product-main-image" data-id="main-image">
                                <img src="<%= product.indexImage %>" alt="" />
                            </div>

                        </div>


                        <div class="product-info">

                            <div class="product-info-header">
                                <h1 class="product-title">
                                    <% if (product.discountPercentage) { %>
                                    <span class="badge bg-primary"><%= product.discountPercentage %>% OFF</span>
                                    <% } %>
                                    <%= product.name %> </h1>
                                <ul class="product-category">
                                    <li><a href="#"><%= product.categoryName %></a></li>
                                </ul>
                            </div>


                            <div class="product-warranty">
                                <% if (parseInt(stock.available) <= 0) { %>
                                <div><b>Availability: Out of Stock</b></div>
                                <% } else { %>
                                <div><b>Availability: In stock</b></div>
                                <% } %>
                            </div>


                            <ul class="product-info-list">
                                <% for (const key of keyFeatures) { %>
                                <li>+ <%= key.keyFeature %></li>
                                <% } %>
                            </ul>


                            <div class="product-purchase-container">
                                <div class="product-discount">
                                    <span class="discount">&#8377; <%= product.originalPrice %></span>
                                </div>
                                <div class="product-price">
                                    <div class="price">&#8377; <%= product.sellingPrice %></div>
                                </div>
                                <% if (customer.type === "admin") { %>
                                <div style="display: flex;">
                                    <form style="margin-right: 10px;" action="/admin-panel/update-product/<%= product.id %>" method="GET">
                                        <button class="btn btn-inverse btn-theme btn-lg width-200">UPDATE</button>
                                    </form>
                                    <form action="/admin-panel/delete-product/<%= product.id %>" method="POST">
                                        <button class="btn btn-inverse btn-theme btn-lg width-200"
                                            style="background: #b94f41;border-color: #b94f41;">DELETE</button>
                                    </form>
                                </div>
                                <% } else { %>
                                <div style="display: flex;">
                                    <form style="margin-right: 10px;" action="/customer/add-to-cart/<%= product.id %>"
                                        method="POST">
                                        <button class="btn btn-inverse btn-theme btn-lg width-200">ADD TO
                                            CART</button>
                                    </form>
                                    <form action="/customer/add-to-wishlist/<%= product.id %>" method="POST">
                                        <button class="btn btn-inverse btn-theme btn-lg width-200"
                                            style="background: #1e7c77; padding-left: 5px; padding-right: 5px; border-color: #1e7c77;">ADD
                                            TO
                                            WISHLIST</button>
                                    </form>
                                </div>
                                <% } %>

                            </div>

                        </div>

                    </div>


                    <div class="product-tab">

                        <ul id="product-tab" class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" href="#product-desc"
                                    data-toggle="tab">Product Description</a></li>
                            <li class="nav-item"><a class="nav-link" href="#product-info"
                                    data-toggle="tab">Specifications</a></li>
                            <li class="nav-item"><a class="nav-link" href="#product-reviews" data-toggle="tab">Rating &
                                    Reviews (<%= reviews.length %>)</a></li>
                        </ul>


                        <div id="product-tab-content" class="tab-content">

                            <div class="tab-pane fade active show" id="product-desc">
                                <% let count = 0 %>
                                <% for (const desc of descriptions) { %>
                                <% if ((count % 2) == 0) { %>
                                <div class="product-desc">
                                    <div class="image">
                                        <img src="" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4><%= desc.name %></h4>
                                        <p><%= desc.value %></p>
                                    </div>
                                </div>
                                <% } else { %>
                                <div class="product-desc right">
                                    <div class="image">
                                        <img src="" alt="" />
                                    </div>
                                    <div class="desc">
                                        <h4><%= desc.name %></h4>
                                        <p><%= desc.value %></p>
                                    </div>
                                </div>
                                <% } %>
                                <% count++ %>
                                <% } %>

                            </div>


                            <div class="tab-pane fade" id="product-info">

                                <div class="table-responsive">

                                    <table class="table table-product table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (const spec of specifications) { %>
                                            <tr>
                                                <td class="field"><%= spec.name %></td>
                                                <td><%= spec.value %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>

                                </div>

                            </div>


                            <div class="tab-pane fade" id="product-reviews">

                                <div class="row row-space-30">

                                    <div class="col-md-7 mb-4 mb-lg-0">
                                        <% if (reviews.length <= 0) { %>
                                        <h1>No Reviews</h1>
                                        <% } %>
                                        <% for (let review of reviews) { %>
                                        <div class="review">
                                            <div class="review-info">
                                                <div class="review-rate">
                                                    Rating => (<%= review.rating %>/5)
                                                </div>
                                                <div class="review-name"><%= review.customer.name %></div>
                                                <div class="review-date"><%= review.date %></div>
                                            </div>
                                            <div class="review-title">
                                                <%= review.title %>
                                            </div>
                                            <div class="review-message">
                                                <%= review.comment %>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>


                                    <div class="col-md-5">

                                        <div class="review-form">
                                            <form action="/customer/product-review" name="review_form" method="POST">
                                                <h2>Write a review</h2>
                                                <div class="form-group">
                                                    <label for="email">Title <span class="text-danger">*</span></label>
                                                    <input type="text" name="title" class="form-control" id="email" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="review">Review <span
                                                            class="text-danger">*</span></label>
                                                    <textarea class="form-control" rows="8" id="review"
                                                        name="comment"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Rating <span class="text-danger">*</span></label>
                                                    <!-- <div class="rating rating-selection" data-rating="true"
                                                        data-target="rating">
                                                        <i class="far fa-star" data-value="2"></i>
                                                        <i class="far fa-star" data-value="4"></i>
                                                        <i class="far fa-star" data-value="6"></i>
                                                        <i class="far fa-star" data-value="8"></i>
                                                        <i class="far fa-star" data-value="10"></i>
                                                        <span class="rating-comment">
                                                            <span class="rating-comment-tooltip">Click to rate</span>
                                                        </span>
                                                    </div> -->
                                                    <br>
                                                    <select name="rating" class="col-md-12" style="padding: 5px;">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                                <input type="hidden" name="productId" value="<%= product.id %>">
                                                <button type="submit" class="btn btn-inverse btn-theme btn-lg">Submit
                                                    Review</button>
                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>


                <h4 class="m-b-15 m-t-30">Suggested Products</h4>
                <div class="row row-space-10">
                    <% for (let relatedProduct of relatedProducts) { %>
                    <div class="col-lg-2 col-md-4">

                        <div class="item item-thumbnail">
                            <a href="/customer/product-detail-home/<%= relatedProduct.id %>" class="item-image">
                                <img src="<%= relatedProduct.indexImage %>" alt="">
                                <% if (relatedProduct.discountPercentage) { %>
                                <div class="discount"><%= relatedProduct.discountPercentage %>% OFF</div>
                                <% } %>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="/customer/product-detail-home/<%= relatedProduct.id %>"><%= relatedProduct.name %></a>
                                </h4>
                                <div class="item-price">&#8377; <%= relatedProduct.originalPrice %></div>
                                <div class="item-discount-price">&#8377; <%= relatedProduct.sellingPrice %></div>
                            </div>
                        </div>

                    </div>
                    <% } %>

                </div>
            </div>

        </div>

    </div>

    <%- include("./footer.ejs") %>

</html>