<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Search Result Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <script src="/js/app.min.js" defer></script>

</head>

<body>

    <div id="page-container" class="fade">

        <%- include("./navigation-bar.ejs") %>

        <div id="page-header" class="section-container page-header-container bg-black">

            <div class="page-header-cover">
                <img src="../assets/img/cover/cover-13.jpg" alt="" />
            </div>

            <div class="container">
                <h1 class="page-header">Search Results for "<b><%= searchValue %></b>"</h1>
            </div>

        </div>

        <div id="search-results" class="section-container">

            <div class="container">

                <div class="search-container">

                    <div class="search-content">

                        <div class="search-toolbar">

                            <div class="row">

                                <div class="col-lg-6">
                                    <h4>We found <%= products.length %> Items for "<%= searchValue %>"</h4>
                                </div>

                            </div>

                        </div>

                        <div class="row row-space-10">
                            <% for (let product of products) { %>
                            <div class="col-lg-4 col-md-4" style="margin-bottom: 10px;">
                                <div class="item item-thumbnail">
                                    <a href="/customer/product-detail-home/<%= product.id %>" class="item-image">
                                        <img src="<%= product.indexImage %>" alt="" />
                                        <% if (product.discountPercentage) { %>
                                        <div class="discount"><%= product.discountPercentage %>% OFF</div>
                                        <% } %>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a
                                                href="/customer/product-detail-home/<%= product.id %>"><%= product.name %></a>
                                        </h4>
                                        <div class="item-price">&#8377; <%= product.sellingPrice %></div>
                                        <div class="item-discount-price">&#8377; <%= product.originalPrice %></div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>


                    <div class="search-sidebar">
                        <h4 class="title">Filter By</h4>
                        <form action="/customer/search-result/true"
                            method="POST" name="filter_form" enctype="application/x-www-form-urlencoded">
                            <div class="form-group">
                                <label class="control-label">Price</label>
                                <div class="row row-space-0">
                                    <div class="col-md-5">
                                        <input type="number" class="form-control input-sm" name="priceFrom" value="10"
                                            placeholder="Price From" />
                                    </div>
                                    <div class="col-md-2 text-center p-t-5 f-s-12 text-muted">to</div>
                                    <div class="col-md-5">
                                        <input type="number" class="form-control input-sm" name="priceTo" value="10000"
                                            placeholder="Price To" />
                                    </div>
                                    <input type="hidden" value="<%= searchValue %>" name="searchValue">
                                </div>
                            </div>
                            <div class="m-b-30">
                                <button type="submit" class="btn btn-sm btn-theme btn-inverse">FILTER</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <%- include("./footer.ejs") %>

</html>